<h1> Post a Question! </h1>

<%= form_for @question do |f| %>
  <div class='row'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class='row'>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class='row'>
    <%= f.submit 'Submit'%>
  </div>
<% end %>
