<p id='notice'> <%= notice %></p>

<h1>Question</h1>
<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Delete', @question, method: :delete, data: { confirm: "Are you sure?" } %>

<ul>
  <%= @question.title %><br><br>
  <%= @question.description %>
  <br>
  <h2>Answers</h2>

  <% @answers = Answer.where(question: params[:id]) %>
  <% @answers.each do |answer| %>
    <li> <%= answer.description %> </li>
  <% end %>
</ul>

<%= render '/answers/form' %>
<br>

<button><%= link_to "Return to Questions List", questions_path %></button>
<button><%= link_to "Create a New Question", new_question_path %></button>
